@model List<Patos.Dominio.Pato>

@{
    ViewData["Title"] = "Home Page";
}

<div style="height: 100%; width: 100%;">
    <div class="row d-flex align-items-center" style="background-color: cyan; height: 50%; padding: 30px;">
        <div class="container">
        </div>
    </div>
    <div class="row d-flex align-items-center" style="background-color: green; height: 50%; padding: 30px;">
        <div class="container">
            @foreach (var pato in Model)
            {
                <div class="row">
                    <img class="pato" data-toggle="tooltip" title="Quack!" data-placement="top" width="100" height="100" src="img/patos/@pato.Imagem"/>
                </div>
            }
        </div>
    </div>
</div>